<%-include ('header.ejs')%>
	
	<section>
		<inner-column>
			<h1 class="heyyou-voice"><%- ctx.prismic.asText(document.data.page_title) %></h1>
			<p class="info-voice"><%- ctx.prismic.asText(document.data.page_intro) %></p>
		</inner-column>
	</section>


<%-include ('footer.ejs')%>