
<%-include ('header.ejs')%>



<section>
	<inner-column>
		<h1 class="heyyou-voice">Monsters</h1>
			<ul class="monster-list">
		<%
			monsterArray.forEach(function(monster) { 

				let adoptedClass = "";
				if (monster.adopted == true) {
					adoptedClass = 'adopted';
				} else {
					adoptedClass = 'notAdopted';
				}
		%>
			<li>
				<%- include ('monster-card.ejs', {monster, adoptedClass}) %>
			</li>


		<% })
		%>
			</ul>
	</inner-column>
</section>



<%-include ('footer.ejs')%>